* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input:focus {
    box-shadow: none !important;
}

.submit_btn,
a {
    box-shadow: none !important;
}

body {
    /* background-image: url("../images/bg.jpg");
   background-position: center;
   background-size: contain;
   background-attachment: fixed; */
    height: 100vh;
    background-color: rgba(137, 214, 201, 0.308);


}

.multi_job, .multi_family {
    width: 100% !important;    
}

input{
    box-shadow: none;
}
